{% extends 'base.html' %}

{% block body %} 

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Add your Expense here!</h3>
            <form action="/addexpense" method="POST">
                
                <div class="form-group">
                     <label for="">Date</label> 
                     <input class="form-control" type="datetime-local" name="date" id="date"></div>
                <div class="form-group"> <label for="">Expense name</label> 
                    <input class="form-control" type="text" name="expensename" id="expensename">
                </div>
                <div class="form-group">
                     <label for="">Expense Amount</label> 
                      <input class="form-control"  type="number" min="0" name="amount" id="amount">
                </div>

                <div class="form-group">
                    <label for=""></label> 
                    <select class="form-control" name="paymode" id="paymode">
                        <option  selected hidden>Paymode</option>
                        <option name="pay-as-cash" value="pay-as-cash">pay-as-cash</option>
                        <option name="debitcard" value="debitcard">debitcard</option>
                        <option name="creditcard" value="creditcard">creditcard</option>
                        <option name="online payment" value="online payment">online payment</option>
                        <option name="netbanking" value="netbanking">netbanking</option>
                    
                    </select>
                
               
                

                 <div class="form-group">
                    <label for=""></label>
                    <select class="form-control" name="category" id="category">

                         <option selected hidden>Category</option>
                        <option   name = "food" value="food">Food</option>
                        <option   name = "education" value="education">Education</option>
                        <option name = "recreation" value="recreation">Recreation</option>
                        <option name = "business" value="business">Business</option>
                        <option name ="rent" value="rent">Rent</option>
                        <option name = "EMI" value="EMI">EMI</option>
                        <option name = "other" value="other">Other</option>
            
                    </select>
                </div>

               
                
                <input class="btn btn-danger" type="submit" value="Add" id="">
        
            </form>
            
            <div  style="position: relative; left: 590px; top: -460px;" class="imagge">
                <img width="120%" height="120%" src="https://img.freepik.com/premium-photo/house-upward-arrow-white_698953-6871.jpg?size=626&ext=jpg&ga=GA1.2.1986626053.1668674549&semt=sph" class="rounded float-left" alt="...">

               </div>
              
        </div>
    </div>
    
</div>
   
    {% endblock %}
