{% extends 'base.html' %}

{% block body %} 
<style>

    H1 {
       position: relative;
       right: -790PX;
       top: -400PX;
       color: RED;

    }

p{
position: relative;
right: -800px;
top: -350px;
font-family:monospace;
}

span{
    position: relative;
right: -800px;
top: -360px;
}


   .ccc {
        position: relative;
        top:80px;
        left:-100px;
      
    }
   

    
    </style>
    <div id=aa class="container">
    <div class="ccc">
        <img src="https://img.freepik.com/free-vector/budget-planning-flat-concept_98292-8454.jpg?size=626&ext=jpg&ga=GA1.2.1986626053.1668674549&semt=sph">
        <h1>Lets begin your<br> budget tracking journey</h1>
        <P>Spendy wallet web application helps you to maintain your<br>  personal budget
             and analyse the expense breakdown</P>
        <img height="13%" width="13%" style="position: relative; top: -690PX; left: -60PX;" src="../static/images/istockphoto-943300706-612x612.jpg">
    </div>
    <span  class="btn btn-outline-dark">Let's start your journey</span>
</div>

{% endblock %}
